
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/static/assets/photo.jpg');
  height: 80vh;
}


.container {
  background-color: rgb(67, 150, 201);
  text-align: center;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(6, 2, 28, 0.9);
  font-family: Poppins, sans-serif;
  width: 330px;
  padding: 20px;
}


.container .input_area {
  width: 80%;
  height: 40px;
  margin: 10px;
  border-radius: 10px;
  text-indent: 25px;
  font-weight: 400;
  font-size: medium;
  border-color: transparent;
}


.container button {
  background-color: rgba(156, 7, 242, 0.61);
  width: 200px;
  height: 30px;
  margin: 10px;
  border: none;
  border-radius: 30px;
}
.container button:hover {
  background-color: rgba(224, 7, 141, 0.968);
}

.container p {
  font-size: smaller;
}


.container a{
  color: #28029c

}

.container {
    margin-top: 120px;    
}




 